body {
	margin: 0 auto;
	background: #F2F0EF;
}

/* Text */

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed%7CUbuntu+Mono:400,400i,700,700i%7CUbuntu:300,300i,400,400i,500,500i,700,700i');

h1 {
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
	color: #003B5E;
	text-shadow: 1px 1px 1px #000, 3px 3px 5px #0880C6;
	text-transform: uppercase;
}

h2 {
	font-size: 30px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: #003B5E;
}

h3 {
	font-size: 30px;
	margin: 10px 0;
	color: #003B5E;
	font-family: helvetica;
	font-family: 'Ubuntu Condensed', sans-serif;
}

h4 {
	font-size: 30px;
	font-family: 'Ubuntu Condensed', sans-serif;
}

h6 {
	margin: 0;
	padding: 0 0 0 20px;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
}

p {
	font-family: 'Ubuntu', sans-serif;
}

a {
	color: #0880C6;
}

/* Navigation Component */

.nav {
	height: 100px;
}

.logo img {
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 100px;
	float: left;
}

nav {
	display: inline-block;
	width: 100%;
}

ul {
	list-style: none;
	float: right;
}

.navLi {
	display: inline-block;
	padding: 20px 30px;
}

.navLi a {
	color: #088s0C6;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
}

.navLi a:hover {
	color: #319DEA;
}

/* Home Component */

.home {
	text-align: center;
	padding: 10px 0px;
}

label {
	font-family: 'Ubuntu', sans-serif;
}

input[type=text] {
	width: 200px;
	padding: 5px 20px;
    margin: 5px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.renderViewResult {
	width: 100%;
}

.searchProduct {
	width: auto;
	padding: 7px 10px;
	margin: 5px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    border: none;
    color: #FFFFFF;
	background-color: #D92821;
}

.searchProduct:hover {
	background-color: #FF241C;
}

.introHome {
	padding: 10px 50px;
}

.inputOptions {
	display: flex;
	margin: 0px 50px 50px 50px;
	border: 1px solid #FFFFFF;
}

.upc-photo-input {
	flex: 1;
	padding: 10px;
	background: #b2b0b0;
    background: -webkit-linear-gradient(#dddddd, #b2b0b0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dddddd, #b2b0b0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dddddd, #b2b0b0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dddddd, #b2b0b0); /* Standard syntax */
}

.upc-text-input {
	flex: 1;
    background: -webkit-linear-gradient(#dddddd, #b2b0b0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dddddd, #b2b0b0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dddddd, #b2b0b0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dddddd, #b2b0b0); /* Standard syntax */
	padding: 200px 0px;
}

.introParagraph {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	padding: 20px;
	text-align: left;
}

.labelMessage1, .labelMessage2 {
	font-family: 'Ubuntu Mono', monospace;
	color: #2c2d2d;
	font-size: 18px;
}

.displayR {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 20px;
	padding: 0;
	color: #2c2d2d;
}

.displayResult  a {
	font-family: 'Ubuntu Mono', monospace;
	float: none;
	padding: 10px;
	text-align: center;
	flex: 1;
	text-decoration: none;
	background-color: yellow;
	font-size: 2em;
	transition: 1s;
	color: black;
}

.displayResult a:hover {
	color: white;
	text-transform: uppercase;
}

/* Result Component */

.result {
	display: flex;
	padding: 20px;
}

.right {
	display: inline-block;
	width: 300px;
}

.left {
	display: inline-block;
	width: auto;
}

.issues {
	width: 300px;
	height: auto;
	background-color: #F7F7F7;
}

.ing {
	padding: 10px;
}

.tableResult {
	border: 1px solid #D1D1D1;
}

.prodResult {
	display: flex;
	background-color: #e0dbdb;
}

.ingredient {
	flex: 1.5;
}

.finalResult {
	flex: 2;
	background-color: #f4f4f4;
}

th {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	padding: 20px;
}

td {
	font-family: 'Ubuntu', sans-serif;
}

/* Profile Component */

.profile {
	padding: 10px 50px;
}


.paragraph {
	font-size: 18px;
	font-family: 'Ubuntu Mono', monospace;
	color: #2c2d2d;
	text-align: center;
	padding: 10px;
}

.row {
	display: flex;
	background-color: #FFFFFF;
	padding: 20px;
	color: #3F3D3B;
	opacity: .9;
}

.column {
	flex: 1;
}

.buttons {
	text-align: center;
}

.savePreferences, .editPreferences, .findUser {
    width: auto;
	padding: 7px 20px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
	border: none;
	color: #FFFFFF;
	background-color: #D92821;
}

.savePreferences:hover, .editPreferences:hover, .findUser:hover {
	background-color: #FF241C;
}

input[type=checkbox] {	
	width: 40px 10px;
	margin: 10px 10px;
	height: 20px;
	background: #FCFFF4;
    border-radius: 10px;
    font-size: 10em;
}

/* History */

.history {
	padding: 10px 0px;
}

.tableHistory {
	margin: 0px auto;
	text-align: center;
	padding: 20px;
	background-color: #f2f2f2;
	width: 90%;
	border: 1px solid #FFFFFF;
}

.historyRow tr {
	text-align: center;
	padding: 30px;
}

.result{
	display: flex;
	text-align: center;
	margin: 0 auto;
}

.productPic{
	flex: 1;
}

.resultTable{
	flex: 2;
	height: 300px;
}

.resultcontainer img {
	display: block;
}

.titleRow {
	font-size: 28px;
	color: #001928;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.action {
	text-align: center;
	font-size: 18px;
	width: 20px;
	height: 30px;
	color: #D92821;
}

.action:hover {
	color: #FF241C;
}

.prod {
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	flex: 3;
	padding: 0px 20px;
	color: #373738;
}
img.thumbnail{
    height: 100px;
    width: 100px;
    text-align: center;
}


.advice {
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	flex: 2;
	padding: 0px 20px;
	color: #373738;
}

/* 404 Page */

.errorMessage {
	text-align: center;
}

/* Icons */

.footer {
	background-color: #212121;
	padding: 10px;
}

.icons img {
	width: 100px;
	height: 100px;
}

.iconsS img {
	width: 70px;
	height: 70px;
	padding: 5px;
	animation-name: resizeS;
	animation-delay: 0s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.iconsM img {
	width: 70px;
	height: 70px;
	padding: 5px;
	animation-name: resizeM;
	animation-delay: 0s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}


.iconsL img {
	width: 70px;
	height: 70px;
	padding: 5px;
	animation-name: resizeL;
	animation-delay: 0s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
/*row */
.yes span {
	color:blue;
}
.icon img{
	width: 50px;
	height: 50px;
	text-align: center;
}

@keyframes resizeS {
    from {
    	width: 70px;
    	height: 70px;
    	padding: 5px;
    }
    to {
    	width: 50px;
    	height: 50px;
    	padding: 15px;
    }
}

@keyframes resizeM {
    from {
    	width: 70px;
    	height: 70px;
    	padding: 5px;
    }
    to {
    	width: 60px;
    	height: 60px;
    	padding: 10px;
    }
}

@keyframes resizeL {
    from {
    	width: 50px;
    	height: 50px;
    	padding: 15px;
    }
    to {
    	width: 70px;
    	height: 70px;
    	padding: 5px;
    }
}

/* Mobile */

@media only screen and (max-width: 667px) {
	h1 {
	font-size: 28px;
	}
	h2 {
	font-size: 26px;
	}
	h3 {
	font-size: 24px;
	}
	h4 {
	font-size: 18px;	
	}
	h6 {
	font-size: 18px;
	}
	p {
	font-size: 16px;
	}
	.nav {
	height: auto;
	display: block;
	}
	.logo img {
	float: none;
	display: block;
	position: relative;
	padding: 0 38%;
	}
	nav {
	display: block;	
	}
	ul {
	text-align: center;
	list-style: none;
	float: none;
	padding: 0px;
	}
	ul > li {
	display: block;
	padding: 10px 20px;
	}
	th {
	font-size: 16px;
	}
	.productPic{
	display: block;
	}
	.profile {
	padding: 10px 0px;
	}
	.row {
	display: block;
	}
	.savePreferences, .editPreferences, .findUser {
	margin: 0px 5%;
	width: 40%;
	}
	.image404 {
	width: 100%;
	height: auto;
	}
	.history {
	padding: 0px;
	}
	.tableHistory {
	margin: 0px auto;
	text-align: center;
	padding: 0px;
	width: 100%;
	}
	.prod, .advice, .historyRow tr {
	padding: 0px;
	margin: 0;
	width: 100%;
	font-size: 16px;
	}
	.action {
	padding: 0px;
	margin: 0;
	}
	.titleRow {
	padding: 10;
	font-size: 22px;
	}
	.result, .resultTable, .productPic, .prodResult {
	display: block;
	width: 100%;
	}
	.inputOptions {
	display: block;
	margin: 0px;
	border: none;
	}
	.upc-photo-input {
	background: #b2b0b0;
	display: block;
	padding: 20px 0;
	}	
	.upc-text-input {
	background: #dddddd;
	display: block;
	padding: 20px 0;
	}	
	.labelMessage1, .labelMessage2 {
	font-size: 16px;
	}
	.displayR {
	margin: 0;
	}
	.footer {
	padding: 0px;
	}
}

.title {
	font-size: 3em;
	font-family: 'Ubuntu', sans-serif;
	color: #003B5E;
	text-shadow: 1px 1px 1px #000, 3px 3px 5px #0880C6;
	text-transform: uppercase;
}

.green {
	color: green;
}