body {
	margin: 0 auto;
	background-color: #F2F0EF;
}

/* Text */

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed%7CUbuntu+Mono:400,400i,700,700i%7CUbuntu:300,300i,400,400i,500,500i,700,700i');

h2 {
	font-size: 30px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: #003B5E;
}

h3 {
	font-size: 28px;
	margin: 10px 0;
	color: #003B5E;
	font-family: helvetica;
	font-family: 'Ubuntu Condensed', sans-serif;
}

h6 {
	margin: 0;
	padding: 0 0 0 20px;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
}

p {
	font-family: 'Ubuntu', sans-serif;
}

/* Navigation Component */

.nav {
	height: 100px;
}

.logo img {
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 100px;
	float: left;
}

nav {
	display: inline-block;
	width: 100%;
}

ul {
	list-style: none;
	float: right;
}

ul > li {
	display: inline-block;
	padding: 20px 30px;
}

li > a {
	color: #0880C6;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
}

li > a:hover {
	color: #319DEA;
}

/* Home Component */

.home {
	text-align: center;
	padding: 10px 0px;
}

label {
	font-family: 'Ubuntu', sans-serif;
}

input[type=text] {
	width: 200px;
	padding: 5px 20px;
    margin: 5px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.searchProduct {
	width: auto;
	padding: 7px 10px;
	margin: 5px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    border: none;
    color: #FFFFFF;
	background-color: #D92821;
}

.searchProduct:hover {
	background-color: #FF241C;
}

/* Webcam */

/* Result Component */

.result {
	display: flex;
}

.right {
	display: inline-block;
	width: 300px;
}

.left {
	display: inline-block;
	width: auto;
}

.issues {
	width: 300px;
	height: auto;
	background-color: #F7F7F7;
}

table {
	border: 1px solid #D1D1D1;
}

th {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	padding: 20px;
}

td {
	font-family: 'Ubuntu', sans-serif;
}

/* Profile Component */

.profile {
	padding: 10px 50px;
}

.row {
	display: flex;
	background-color: #FFFFFF;
	padding: 20px;
	color: #3F3D3B;
	opacity: .9;
}

.column {
	flex: 1;
}

.savePreferences {
    width: auto;
	padding: 7px 20px;
	margin: 50px 100px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
	float: right;
	border: none;
	color: #FFFFFF;
	background-color: #D92821;
}

.savePreferences:hover {
	background-color: #FF241C;
}

input[type=checkbox] {
	width: 40px 10px;
	margin: 10px 10px;
	background: #FCFFF4;
    border-radius: 4px;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}

/* History */

.history {
	padding: 10px 0px;
}

table {
	margin: 0 auto;
	text-align: center;
}

th.history {
	border: 1px solid black;
	width: 500px;
}

.historyRow tr {
	border: 1px solid black;
	width: 500px;
	text-align: left;
	padding: 30px;
}

/* Mobile */

@media only screen and (max-width: 500px) {
	.logo img {
	float: none;
	}
	.nav {
	height: auto;
	padding: 0px;
	}
	ul {
	text-align: center;
	list-style: none;
	float: none;
	padding: 0px;
	}
	ul > li {
	display: block;
	padding: 10px 20px;
	}
	.profile {
	  padding: 10px 0px;
	}
	.row {
	  display: block;
	}
	.savePreferences {
	  margin: 0px 25%;
	  width: 50%;
	}
}
