<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
    <body>
                <%= title %>

        <div id='container'>
            <form id="sentenceForm">
                <input id="toDefine" type="text" name="barcode" placeholder="enter a word">
                <input type="submit" class="clickdis">


    </body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</html>