<h1>Python</h1>
 <p>a widely used high-level interpreted programming language for general-purpose programming, created by <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Guido_van_Rossum_OSCON_2006.jpg/220px-Guido_van_Rossum_OSCON_2006.jpg">Guido van Rossum</a>  and first released in 1991.</p>
<h2> Python has a design philosophy</h2>
<ul>
	<li>Beautiful is better than ugly</li>
	<li>Explicit is better than implicit</li>
	<li>Simple is better than complex</li>
	<li>Complex is better than complicated</li>
	<li>Readability counts</li>
</ul>
<h2>Examples>
<img src="1.png">
<img src="2.png">
<img src="3.ping">
<img src="4.png">